# name: Deploy to Droplet

# on:
#   push:
#     branches:
#       - main

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout code
#         uses: actions/checkout@v3

#       - name: Setup SSH
#         uses: webfactory/ssh-agent@v0.9.0
#         with:
#           ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

#       - name: Deploy to Droplet
#         run: |
#           ssh -o StrictHostKeyChecking=no root@139.59.22.16 << 'EOF'
#             cd ~/apps/tes-backend
#             git fetch --all
#             git reset --hard origin/main
#             npm install --production
#             pm2 restart tes-backend --update-env
#           EOF
